@model FutsalApp.Models.Karyawan

@{
    ViewData["Title"] = "Edit Karyawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Karyawan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="Alamat" class="control-label"></label>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="NomorHP" class="control-label"></label>
                <input asp-for="NomorHP" class="form-control" />
                <span asp-validation-for="NomorHP" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kembali Ke List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
